.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#111;
  color:white;
}

.links a{
  color:white;
  margin-left:20px;
  text-decoration:none;
  font-weight:500;
}

.cart-link{
  position:relative;
}

.badge{
  position:absolute;
  top:-8px;
  right:-12px;
  background:red;
  color:white;
  border-radius:50%;
  padding:2px 7px;
  font-size:12px;
}
