.cart-container{
  padding:30px;
  max-width:800px;
  margin:auto;
}

.cart-item{
  display:grid;
  grid-template-columns: 1fr 80px 120px 50px;
  align-items:center;
  padding:10px 0;
  border-bottom:1px solid #eee;
}

.checkout{
  width:100%;
  padding:15px;
  margin-top:20px;
  background:green;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}
